<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>nyanstagram</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div class="main">
       <img class="top" src= "<%= asset_path "top.png" %>">
    </div>
    
　
    
</body>
</html>